<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>smashtrackreport</title>
</head>
<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
<body>
<div id="app">
    <h1>Smacker</h1>
    <h2>KickAss Logo</h2>
    <h3>Leaderboard</h3>
    <table>
        <tr>
            <td>Player</td>
            <td></td>
            <td>Games</td>
            <td>Wins</td>
            <td>Losses</td>
            <td>Win %</td>
            <td></td>
            <td>Stocks Lost</td>
            <td>Avg Stocks Lost</td>
            <td>Stocks Taken</td>
            <td>Avg Stocks Taken</td>
        </tr>
        <template v-for="user in users">
            <tr>
                <td>{{ user.tag }}</td>
                <td></td>
                <td>{{ user.games }}</td>
                <td>{{ user.wins }}</td>
                <td>{{ user.losses }}</td>
                <td>{{ user.winRatio }}</td>
                <td></td>
                <td>{{ user.stocksLost }}</td>
                <td>{{ user.stocksLostRatio }}</td>
                <td>{{ user.stocksTaken }}</td>
                <td>{{ user.stocksTakenRatio }}</td>
            </tr>
        </template>
    </table>
    <h3>Matches</h3>
    <table>
        <tr>
            <td>Date</td>
            <td>Player 1</td>
            <td>Player 2</td>
        </tr>
        <tr v-for="match in sortedMatchesByDate">
            <td>
                {{ match.match.date | formatDate}}
            </td>
            <td v-for="player in match.players">
            <span v-bind:class="{'font-weight-bold': player.is_winner}">
              {{ player.character.name}}</span>:<span>{{ player.data.stocks }}
            </span>
            </td>
        </tr>
    </table>
</div>
<!-- built files will be auto injected -->
</body>
</html>
